@model WazooTodoMVC.Models.ViewModels.SubmitTodoRequest
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Todo";
}

<div class="row">
    <div class="col-2">
        <p>
            <a class="btn btn-outline-success" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="bi bi-arrow-left-square-fill"></i> Back</a>
        </p>
    </div>
    <div class="col-6">
        <div class="bg-secondary bg-secondary bg-opacity-10 py-2">
            <div class="container">
                <h1>Create a new Todo Item!!</h1>
                <form method="post">
                    <div class="mb-3">
                        <input type="text" placeholder="Description" id="description" asp-for="Description" class="form-control" 
                           onkeydown="if(event.key === 'Enter') { this.form.submit(); return false; }" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

