@model IEnumerable<WazooTodoMVC.Models.TodoItem>
<!--@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>List of Todos:</h1>

        @if (Model != null && Model.Any())
        {
            <ul class="list-group">
                    <ul class="list-group">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item d-grid grid-cols-2">
                                <span><strong>Id:</strong> @item.Id</span>
                                <span><strong>Description:</strong> @item.Description</span>
                                <span><a asp-area="" asp-controller="Home" asp-action="Edit">Edit</a></span>
                            </li>
                        }
                </ul>
            </ul>
        }
        else
        {
            <p>No todo items found!!</p>
        }
    </div>
    <div class="row mt-3">
        <div class="col-auto">
            <a class="btn btn-outline-success" asp-area="" asp-controller="Home" asp-action="CreateTodo">
                <i class="bi bi-pencil-square"></i>  Create a Todo</a>
        </div>
    </div>
</div>
