@model IEnumerable<WazooTodoMVC.Models.TodoItem>

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>List of Todos:</h1>

        @if(Model != null && Model.Any())
        {
            <ul class="list-group">
                @foreach(var item in Model)
                {
                    <li class="list-group-item d-grid grid-cols-2">
                        <span><strong>Id:</strong> @item.Id</span>
                        <span><strong>Description:</strong> @item.Description</span>
                        <span><a asp-area="" asp-controller="Home" asp-action="Edit">Edit</a></span>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No todo items found!!</p>
        }
    </div>
</div>